html, body {
    background-image: url("realcity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    overflow: hidden;
}

div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.picture{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}