html, body {
    background-image: url("realcity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
}

div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.picture{
    border-radius: 50%
}